<% include header.ejs %>
<body>
	<div class="container">
	
		<ul class="nav nav-pills">
		  <li role="presentation"><a href="/">Home</a></li>
		  <li role="presentation"><a href="/contact">Contact</a></li>
		  <li role="presentation" class="active"><a href="/about">About</a></li>
		</ul>
		<h1>About Us</h1>
		<p>Did you just blink? Whoa! Did you know that 8746 tweets were tweeted in that one second? 1842 new Instagram photos were uploaded in that same second as well. 1799 Tumblr posts, 47, 894 Google searches, 97,292 YouTube video views and 26,245 GB of Internet traffic. All of that happened in that one second.

			At Knct Lab we work on the principle of disruptive change

			We realize the opportunities that come along today are dynamic and constantly evolving. We know how to capitalize on them.

			Knct Lab uses technological tools like predictive marketing, conversion tracking, A/B testing, behavioral analysis and Social Media integration. We anchor your idea, product, and vision and set it out to delight your audience.

			Evolution isn’t just about moving forward. It is about letting go and redefining ourselves. It’s this belief that helps us foresee future trends and allows us to constantly keep your idea in the spotlight.

			The Knct Lab 360-Degree Approach  

			We have content creators, web designers, UI experts, online strategists, web developers, and client relationship managers who are committed to integrate and combine their skills to create solutions and present new opportunities that meet your goals.
		</p>
	</div>
</body>
</html>	