<% include header.ejs %>
<body>
	<div class="container">
	
		<ul class="nav nav-pills">
		  <li role="presentation"><a href="/">Home</a></li>
		  <li role="presentation" class="active"><a href="/contact">Contact</a></li>
		  <li role="presentation"><a href="/about">About</a></li>
		</ul>
		<h1>Contact Us</h1>
		<p>882, 11th Main, 3rd Cross, 
			Near Sony Signal (100 ft. Road),
			HAL 2nd Stage, Indiranagar,
			Bangalore 560008, India.
			 
			(+91) 80 4112 1498
		</p>
	</div>
</body>
</html>	